* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.gallery {
  margin: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.gallery-container {
  width: 384px;
  height: 216px;
  margin: .7vw;
  border: 4px solid #000;
  background-color: #050505;
}

.gallery-container img {
  width: 384px;
  height: 216px;
  object-fit: contain;
}
