* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  /* padding-bottom: 5rem; */
  min-height: 100%;
  height: 100vh;
  width: 100%;
}



.footer-content {
  position: absolute;
  z-index: 9000;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: #3a3a3a;
  text-align: center;
  color: #a0a0a0;
}

.footer-copyright {
  margin-top: 17px;
}



.lorem {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.footer-height {
  height: 70px;
}
